<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-black text-white flex flex-col items-center justify-center h-screen">

<h2 class="mb-4">Team: {{ team }}</h2>

<h1 id="status" class="text-4xl mb-6 text-red-500">LOCKED</h1>

<button id="btn"
onclick="buzz()"
class="bg-gray-600 rounded-full flex items-center justify-center
       text-white font-bold
       w-[60vw] h-[60vw]
       max-w-[300px] max-h-[300px]
       text-3xl sm:text-5xl
       transition active:scale-90"
disabled>
  BUZZ
</button>

<script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>

<script>
const socket = io({
  transports: ["polling", "websocket"]
});

const team = "{{ team }}";
let enabled = false;

socket.on("connect", () => {
  socket.emit("register", { team });
});

socket.on("buzzer_state", (state) => {
  enabled = state;

  const btn = document.getElementById("btn");
  const status = document.getElementById("status");

  if (state) {
    status.innerText = "UNLOCKED";
    status.className = "text-4xl mb-6 text-green-400";
    btn.disabled = false;
    btn.classList.replace("bg-gray-600", "bg-red-600");
  } else {
    status.innerText = "LOCKED";
    status.className = "text-4xl mb-6 text-red-500";
    btn.disabled = true;
    btn.classList.replace("bg-red-600", "bg-gray-600");
  }
});

function buzz() {
  if (!enabled) return;

  socket.emit("buzz");

  document.getElementById("status").innerText = "BUZZED";
  document.getElementById("btn").disabled = true;
}
</script>

</body>
</html>
